.contactForm{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
}

.input{
    background-color: transparent;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    border-bottom: 1px solid gray;
    font-size: 15px;
    margin-bottom: 15px;
    outline: none;
    height: 50px;
}

.msgError{
    color: red !important;
}
